* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2 {
  font-family: 'alex_brushregular';
}

p, li, a {
  font-family: sans-serif;
}

html, body, #home main {
  height: 100%;
  width: 100%;
}

body, nav ul {
  margin: 0;
  padding: 0;
}

header {
  background: rgba(0, 0, 0, .35);
  padding: 25px 15px;
  position: absolute;
  top: 0;
  width: 100%;
}


#home header {
  background: none;
}

#home header li a {
  color: black;
}

/*nav {
  position: absolute;
  right: 15px;
  top: 15px;
}*/

nav ul {
  list-style: none;
  text-align: right;
}

nav ul li {
  display: inline;
}

nav li a {
  padding: 15px;
  text-decoration: none;
  color: white;
}

.intro {
    height: 375px;
    width: 100%;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-position: center center;
    display: table;
}

.intro div {
  display: table-cell;
  vertical-align: middle;
}

.intro h1 {
  text-align: center;
  font-size: 50px;
}

.content {
  width: 1140px;
  margin: 0 auto;
  padding: 30px 15px;
  overflow: hidden;
}

.content img {
  float: left;
  padding-right: 20px;
}

footer {
  background-color: #87b5f2;
  padding: 10px;
  clear: both;
}

footer p {
  text-align: center;
}

.social {
  list-style: none;
  text-align: center;
  padding: 0;
}

.social li {
  display: inline;
  margin-left: 15px;
}

.social li a {
  text-decoration: none;
  color: black;
}

.social li:first-child {
  margin-left: 0;
}

#home main {
  background-size: cover;
  background-position: center center;
  display: table;
}

#home main .intro {
  background-image: url(../images/background.jpg);
   display: table-cell;
   vertical-align: middle;
}

#home h1,
#home h2 {
  text-align: center;
}

#home h1 {
  margin: 0;
  font-size: 100px;
  line-height: 50px;
}

#home h2 {
  font-size: 40px;
}

.cta {
  border: 1px solid black;
  padding: 15px 25px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  width: 170px;
  margin: 0 auto;
  font-size: 20px;
}

.cta:hover {
  background: black;
  color: white;
}

/* Makes form inputs even */
.contact-form input {
  width: calc(50% - 15px);
  margin: 0 15px 15px 0;
  font-size: 18px;
  padding: 10px 15px;
  float: left;
}

.contact-form input:nth-child(even) {
  margin-right: 0;
  width: 50%;
}

.contact-form textarea {
  padding: 10px 15px;
  font-size: 18px;
  border-color: #ccc;
  width: 100%;
  margin-bottom: 15px;
}
