* {
  box-sizing: border-box;
}

html, body, #home main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#home main {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
  display: table;
}

#home main .intro {
   display: table-cell;
   vertical-align: middle;
}

#home h1,
#home h2 {
  text-align: center;
}

#home h1 {
  margin-top: 0;
}
